.sidebar-nav .nav i.fas,
.sidebar-nav .nav i.far {
    width: 25px;
}

.sidebar-minimized .sidebar-nav .nav i.fas,
.sidebar-minimized .sidebar-nav .nav i.far {
    width: 50px;
    text-align: center;
    margin-right: 5px;
}

.sidebar-minimized .sidebar-nav .nav .nav-dropdown-items i.fas,
.sidebar-minimized .sidebar-nav .nav .nav-dropdown-items i.far {
    width: 35px;
    padding-left: 10px;
}

.nav-dropdown-items .nav-item a {
    padding-left: 25px;
}

#logout-form button[type=submit] {
    outline: 0;
    border: 0;
    text-align: left;
    width: 100%;
}

.table tbody .action .btn {
    color: white;
}

.table tbody .action .btn i {
    margin-right: 3px;
    text-align: center;
}

.table thead th.action {
    max-width: 200px;
}

#select2-select-user-account-container {
    font-size: 0.85em !important;
    line-height: 1.8 !important;
    padding: 0 .4rem;
}

#select-user-account + .select2-container {
    min-width: 200px !important;
}

#select-user-account + .select2-container .select2-selection--single {
    height: auto !important;
}

#select-user-account + .select2-container .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
}

#select2-select-user-account-results {
    font-size: 0.85em !important;
}